# comment
snippet cc "comment" i
<!-- $0${VISUAL} -->
endsnippet

# break line
snippet // "break line" i
<br>
$0
endsnippet
# math
snippet m. "math" i
\( $0 \)
endsnippet

snippet mm "math" i
\(
$0
\)
endsnippet

# arrow
snippet rr "arrow" i
\rightarrow $0
endsnippet


# matrix
snippet mr "matrix" i
\begin{bmatrix}
$0
\end{bmatrix}
endsnippet
