# text bold font
# \textbf{}
snippet bf "text bold font"
\textbf{$1${VISUAL}}$0
endsnippet

# math sign
snippet mt "two doller signs"
$$1${VISUAL}$$0
endsnippet

# text sign
snippet tt "text"
\text{$1${VISUAL}}$0
endsnippet
